@model ProductCategoryCRUD.Models.Product



<div>
    <h1>product</h1>
    <div>name: @Html.DisplayFor(m => Model.Name)</div>
    <div>category: @Html.DisplayFor(m => Model.Category.Name)</div>
    <div>prce: @Html.DisplayFor(m => Model.Price)</div>
</div>

