
@using ProductCategoryCRUD.Helpers
@model ProductCategoryCRUD.Models.IndexViewModel


@{
    ViewBag.Title = "Products";
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        UpdateTargetId = "results"
    };
}


<div style="margin-top: 10px">

    <div class="row" style="margin: 10px 10px; vertical-align: center">
        <h1 style="margin-top: 7px; vertical-align: middle; display: table-cell">Products</h1>
        <a href="/Product/Add"><input type="button" class="btn btn-primary" style="margin-left: 30px" value="Add" /></a>

        @using (Ajax.BeginForm("GetData", ajaxOptions))
        {
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown" style="margin-left:2px">
                <button type="button" class="btn btn-primary">Category</button>
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 48px, 0px); top: 0px; left: 0px; will-change: transform;">
                        @foreach (var item in ViewBag.Categories)
                        {
                            <div class="dropdown-item"><input type="submit" style="width:100%" name="categoryName" class="btn btn-secondary" value="@item.Name" /></div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div id="results" class="col-3"> @Html.Action("GetData")</div>

