﻿@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1 class="display-3">Welcome to the Shop</h1>
    <p class="lead">This app to shows some CRUD operations on DataBase.</p>
    <hr class="my-4">
</div>
